.headered-modal {
    .modal-content {
        .modal-header {
            align-items: flex-start;
            border-bottom: solid 1px #C1C9DC;
            .modal-title {
                font-size: 22px;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                color: #001E60;
                margin-bottom: 0;

            }
        }
    }
}