.progress-bar-wrapper {

    .progress-bar-custom {
        background: #fff;
        height: 10px;
        .progress-bar {
            background: #40A4E9;
            border-radius: 15px;
        }
    }
}