.cart-item {
    --primary: #001E60;
    --secondary: #EA7317;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &__image {
        position: relative;
        width: 130px;
        height: 95px;   
        background: #EAF0F5;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: image;
        img {
            height: 95%;
        }
    }
    &__icon-wrapper {
        background: #B1CCD5;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }   

    &__title {
        font-size: 20px;
        font-weight: bold;     
          
    }

    &__content {
        margin-right: auto;
        margin-left: 20px;
        grid-area: content;
    }

    &__total-items {
        color: #9DAFEE;
        font-size: 18px;
        margin-bottom: 0;
    }

    &__increment {
        margin-right: 50px;
        grid-area: increment;
    }
    &__price {
        font-family: "Montserrat", sans-serif;    
        text-align: right;
        margin-right: 50px; 
        display: flex;
        flex-direction: column;
        line-height: 1.2;
        grid-area: price;
    }
    &__price--regular {
        font-size: 18px;
        color: #829F9F;
        text-decoration: line-through;
        text-align-last: left;
    }
    &__price--sales {
        color: var(--secondary);
        font-size: 22px;
        font-weight: bold;
    }
    &__actions {
        grid-area: actions;
    }
    &__button {
        margin-right: 20px;
        &--remove {
            background: transparent;
        }
    }
}

@media screen and (max-width: 768px) {
    .cart-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30px;
        column-gap: 15px;
        grid-template-areas: 
            "image content content actions"
            "image increment price actions"
        ;
    }
    .cart-item__title {
        margin-bottom: 0;
    }
    .cart-item__content {
        margin-left: 0;
    }
    .cart-item__price {
        text-align-last: left;
    }
    .cart-item__actions {
        display: flex;
        align-items: center;
        justify-content: center;  
        align-self: flex-start;
        margin-top: 5px;      
    }
    .cart-item__button {
        padding: 0;
    }
}

@media screen and (max-width: 540px) {
    .cart-item__image {
        width: 100px;
        height: 80px;
        align-self: flex-start;
        margin-top: 7px;
    }
    .cart-item__title  {
        font-size: 16px;
    }
    .cart-item__total-items {
        font-size: 16px;
    }
    .incremental-field .output {
        padding: 0 5px;
        font-size: 16px;
    }
    .cart-item__price--regular {
        font-size: 14px;
    }
    .cart-item__price--sales  {
        font-size: 18px;
    }
    .cart-page-subtotal__intro {
        font-size: 16px;
    }
    .cart-page-subtotal__values {
        font-size: 16px;
    }
    .cart-page-total__values {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) { 
    .cart-item {
        grid-template-columns: repeat(3, minmax(60px, 1fr)) 30px;

    }
    .cart-item__image {
        width: 70px;
        height: 70px;
    }
    .cart-item__increment {
        margin-right: 0;
    }
    .cart-page .incremental-field {
        font-size: 16px;
        height: 30px;
        .output {
            font-size: 16px;
        }
        button {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .cart-page .cart-item__price {
        white-space: nowrap;
    }
}